.page {
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  background: var(--color-scheme-1-background);
}

.container {
  width: 100%;
  min-height: 100dvh;

  display: flex;
  flex-direction: column;

  padding: 20px 19px 0;
}

.content {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding-top: 96px;
}

.content > * {
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    padding: 20px 38px 0;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 48px 70px 0;
  }
}
