.logo {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: var(--color-scheme-2-text);
  text-decoration: none;
}

.icon {
  display: inline-flex;
  color: inherit;
}

.text {
  font-weight: 500;
  font-size: 17.94px;
  line-height: 1;
  letter-spacing: -0.01em;
}
