.logo {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  color: var(--color-scheme-2-text);
  text-decoration: none;
}

.icon {
  display: inline-flex;
  color: inherit;
}

.text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
}
