.section {
  width: 100%;
  max-width: 866px;
  margin: 0 auto;
  padding: 32px;

  border-radius: 24px;
  background-color: #def2de;
}

.title {
  margin: 0 0 8px;

  color: #1b391b;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.text {
  margin: 0 0 16px;

  color: #1b391b;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 96px;
  height: 48px;
  padding: 0 24px;

  border: 1px solid #4a9849;
  border-radius: 6px;

  background-color: #4a9849;
  color: #ffffff;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  cursor: pointer;

  transition:
    background-color 250ms ease,
    border-color 250ms ease;
}

.button:hover,
.button:focus-visible {
  border-color: #3f853f;
  background-color: #3f853f;
  outline: none;
}

.button:active {
  border-color: #346f34;
  background-color: #346f34;
}
@media screen and (max-width: 767px) {
  .section {
    width: auto;
    margin-right: 20px;
    margin-left: 20px;
    padding: 24px;
  }

  .button {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .section {
    width: auto;
    margin-right: 32px;
    margin-left: 32px;
  }
}
.button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
