.formTitle {
  margin-top: 32px;
  margin-bottom: 24px;

  color: #000;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
}

.formText {
  margin-bottom: 32px;

  color: #000;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.inputDiv {
  width: 335px;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
}

.formDesc {
  color: #000;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.field {
  width: 100%;
  height: 40px;
  padding: 8px;

  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 6px;
  outline: none;
  box-sizing: border-box;

  background: rgba(255, 255, 255, 0);
  color: #1b391b;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.field::placeholder {
  color: rgba(0, 0, 0, .6);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.field:focus {
  border: 1px solid #5dbe5c;
}

.textError {
  color: #b00101;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}

.field.inputError {
  border: 1px solid #b00101;
  color: #b00101;
}

.field.inputError:focus,
.field.inputError:hover {
  border: 1px solid #b00101;
}

.btn {
  width: 335px;
  height: 40px;
  padding: 10px 12px;

  border: 1px solid #4a9849;
  border-radius: 6px;
  box-sizing: border-box;

  background: #4a9849;
  color: #fff;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  cursor: pointer;
}

.btn:active {
  background: #4a9849;
}

.btn:hover,
.btn:focus {
  border: 1px solid #4a9849;

  background: #def2de;
  color: #1b391b;
}

.btn:disabled {
  background: #4a9849;
  opacity: .3;
  cursor: not-allowed;
}

@media (min-width: 768px) {
  .formTitle {
    font-size: 44px;
  }

  .inputDiv,
  .btn {
    width: 644px;
  }
}

@media (min-width: 1440px) {
  .formTitle {
    font-size: 52px;
  }

  .formText {
    font-size: 20px;
  }

  .formDesc {
    font-size: 18px;
  }

  .form {
    gap: 24px;
  }
}
